<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer OH MY FOOD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../ASSETS/css/style.css" />
  </head>
  <body class="footer-container">
    <footer>
      <img
        src="../ASSETS/images/logo/ohmyfood@2x.svg"
        alt="logo du site ohmyfood"
        id="logo-footer"
      />
      <ul>
        <li>
          <i class="fa-solid fa-utensils"></i
          ><a class="accent-text" href="#" target="_top"
            >Proposer un restaurant</a
          >
        </li>
        <li>
          <i class="fa-solid fa-handshake-angle"></i
          ><a class="accent-text" href="#" target="_top">Devenir partenaire</a>
        </li>
        <li>
          <a class="text-footer" href="#" target="_top">Mentions légales</a>
        </li>
        <li><a class="text-footer" href="#" target="_top">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
