@use 'variables';
/*** page home***/
//loader
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: variables.$background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hideLoader 3s forwards;
    z-index: 2;
    .loader-container__spin{
        position: absolute;
        width: 75px;
        height: 75px;
        border-right: 3px solid variables.$primary-color;
        border-radius: 100%;
        animation: spinLeft 2000ms linear infinite;
    }
    .loader-container__loader {
        font-size: 45px; 
        color: variables.$nuance-text-1;
    }
  }
   
  @keyframes hideLoader {
    0% {
        opacity: 1;
    }
    50%{
        opacity:0.75;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
  @keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
  }

/***page restaurants***/
// coche et son animation
.card-menu{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    .card-menu__content{
        transition: width 0.3s ease-in-out; 
    }
    .card-menu__icone{
        position: absolute;
        top: 0; 
        right: -59px;  
        width: 59px; 
        height: 100%; 
        background-color: variables.$tertiary-color; 
        transition: right 0.3s ease; 
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            color: variables.$text-clair; 
            font-size: 20px;
            width: 100%;
            height: 100%;
        }
    }
    &:hover,
    &:active{
        .card-menu__content{
            width: calc(100% - 59px); 
            .card-menu__content__detail{
                width: calc(100% - 30px);
                p,
                h3{
                    white-space: nowrap; 
                    overflow: hidden; 
                    text-overflow: ellipsis; 
                }
            }
            
        }  
        .card-menu__icone{right: 0; 
        }
    }

}

//chargement de la page, arrivée progressive
@keyframes fadeIn {
    from {
      opacity: 0; /* Début de l'animation : élément transparent */
      transform: translateY(20px); /* Début de l'animation : élément décalé vers le bas */
    }
    to {
      opacity: 1; /* Fin de l'animation : élément complètement visible */
      transform: translateY(0); /* Fin de l'animation : élément revenu à sa position normale */
    }
}

.menu__etape {
    opacity: 0; 
    animation: fadeIn 1s ease forwards; 
}
.menu__etape.etape1 {
    animation-delay: 0.1s; 
} 
.menu__etape.etape2 {
    animation-delay: 0.5s; 
}
.menu__etape.etape3 {
    animation-delay: 0.9s; 
}

/***Général****/
//like
@keyframes fillHeart {
    0% { opacity: 0; transform: scale(0); } 
    25% { opacity: 0.25; transform: scale(0.25); } 
    50% { opacity: 0.5; transform: scale(0.5); } 
    75% { opacity: 0.75; transform: scale(0.75); } 
    100% { opacity: 1; transform: scale(1); }    
}
@keyframes emptHeart {
    0% { opacity: 1;} 
    25% { opacity: 0.75;} 
    50% { opacity: 0.5;} 
    75% { opacity: 0.25;} 
    100% { opacity: 0;}    
}

.like{
    position: relative;
    cursor: pointer;
    .filled-heart {
        width: 22px;
        height: 22px;
        position: absolute;
        z-index: 1;
        right: 0;
        background: linear-gradient(to top, variables.$primary-color, variables.$secondary-color);
        background-clip: text; 
        color: transparent;
        transition: opacity 0.5s ease;
        opacity: 0;
        &:hover,
        &:active{ 
            animation-name: fillHeart;
            animation-duration: 0.5s;
            opacity: 1;
        }
        &:hover + .empty-heart {
            animation: emptHeart 0.5s;
            opacity: 0;
        }
    }
    .empty-heart {
        position: relative;
        z-index: 0;
        }
}


