@use 'variables';
/***General***/
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/***fonts***/
// home
.titre-home{
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}
.subtitle-home{
    font-family: roboto;
    font-weight: 300;
    font-size: 18px;
}
.fct__liste__number,
.restau__card__img span{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
}
.restau__card__title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
}
.restau__card__subtitle{
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
}

// home, footer, button
.accent-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
}
.text-footer{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

// Pages restaurant
.title-page{
    font-family:Shrikhand;
    font-size: 28px;
}
.menu__h2{
    font-family: roboto;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
.card-menu_plat{
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
}
.card-menu__commentaire{
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}
.card-menu__prix{
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;
}

/***bouton***/
.button{
    border-radius: 25px;
    border: 0 transparent;
    background: linear-gradient(to top,variables.$primary-color,variables.$secondary-color);
    color: variables.$text-clair;
    padding: 13px 19px 13px 19px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    min-width: 174px;
    display: block;
    margin: 0 auto;
    &:hover{
        background: linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(to top, variables.$primary-color, variables.$secondary-color);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
    }
}


/***header page home***/
.entete-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    #entete-home__logo{
        height: 36px;
        padding: 14px 0 14px 0;
        z-index: 1;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)
    }
    .entete-home__search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        padding: 15px 0 15px 0;
        background-color: variables.$background-color-2;
        z-index: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        .search-icone{
            color:variables.$nuance-text-1;
        }
        .search-bar{
            border: 0 transparent;
            width: 120px;
            background-color: transparent;
            &::placeholder{
                color: variables.$nuance-text-1;
                opacity: 1;
            }
        }
    }
}


/***header pages restaurants***/

.header-restaurants{
        display: flex;
        align-items: center;
        margin: 17px;
        i{
            font-size: 30px;
            color: variables.$nuance-text-1;
        }
        #logo-restau{
            margin: 0 auto;
        }
    }

/***footer***/
footer{
    height: 100%;
    padding: 22px 25px 22px 25px;
    background-color: variables.$nuance-text-1;
    color:variables.$text-clair;
    img{
        filter: invert(100%);
        height: 27px;
        margin-bottom: 16px;
        }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 7px;
            display: flex;
            align-items: center;
            gap:10px;
            i{
                font-size: 13px;
            }
            a{
                text-decoration: none;
                color:inherit;
            }
        }
    }
}

/***MEDIA QUERY composants***/
@media (min-width:1025px){
    .entete-home{
        #entete-home__logo{
            height: 34px;
            padding: 30px 0 30px 0;
            box-shadow: none;
        }
        .entete-home__search{
            box-shadow: none;
        }
    }
    .header-restaurants{
            margin: 30px;
    }
    footer{
        padding: 60px 70px 30px 70px;
        display: flex;
        flex-direction: row-reverse;
        gap: 100px;
        align-items: flex-end;
        img{
            margin-bottom: 0;
        }
        ul{
            display: flex;
            gap:20px;
            li{
                margin-bottom: 0;
            }
        }
    }
}

    

