/*couleurs*/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$accent-text-color:#008766;
$background-color:#F6F6F6;
$background-color-2:#EAEAEA;
$nuance-text-1:#353535;
$nuance-text-2:#7E7E7E;
$text-clair:#ffffff;




